* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1e2536;
  position: relative;
  background-color: #f6f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 5.4rem;
}

h2,
h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.nav-items {
  height: 17vh;
  width: 100%;
  background-color: #0f1014;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .js-image {
  width: 100px;
  height: 80px;
}

nav a.me {
  font-size: 2.4rem;
  font-weight: bold;
  color: #4a90f9;
  text-transform: uppercase;
  text-decoration: none;
}

nav a.me::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: #4a90f9;
  transition: 300ms;
  transition: 300ms;
}

nav a.me:hover::after {
  width: 100%;
}

/* nav min 1024px*/
@media (min-width: 1024px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-items {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .nav-items div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  nav a.me {
    transform: rotate(-90deg) translate(-100px, 0px);
  }
}
/*main*/

.main-title {
  padding: 50px 30px;
  display: block;
}

.main-title h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #0f1014;
}

.main-text .robot-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-image: url("../assets/robot3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-text p {
  font-size: 2rem;
  font-weight: bold;
  color: #0f1014;
}

.nav-works .card:hover {
  background-color: #4a90f9;
}

.nav-works .card:hover .card__item {
  background-color: #1e2536;
  color: #f6f9ff;
}

.nav-works .card:hover .card__item img {
  filter: invert(1);
}

.nav-works .card .card__item {
  background-color: #4a90f9;
  padding: 15px 10px;
  min-height: 175px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 5px solid #1e2536;

  transition: all 0.3s;
}

.nav-works .card .card__item img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.nav-works .card .card__item h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.nav-works .card .card__item h2 {
  margin-bottom: 15px;
}

.nav-works .card .card__item:nth-child(1) {
  border-top: 5px solid #1e2536;
}

.nav-works .card .card__item:nth-child(4) {
  border-bottom: 0px solid #1e2536;
}

.nav-works .card .card__item:hover {
  background-color: #4a90f9;
  transform: translateX(-10px);
  border: 5px solid #4a90f9;
  color: #1e2536;
}

.nav-works .card .card__item:active {
  background-color: #1e2536;
  transform: translateX(-10px);
  border: 5px solid #1e2536;
  color: #4a90f9;
}

.nav-works .card .card__item:hover img {
  filter: invert(0);
}

@media (min-width: 1024px) {
  main {
    display: block;
    margin-left: 100px;
    width: 100%;
    height: 100%;
  }

  .main-title {
    width: 100%;
    height: 20%;
  }

  .nav-works {
    width: 100%;
  }
  .nav-works .card {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e2536;
  }

  .nav-works .card:hover {
    background-color: #4a90f9;
  }

  .nav-works .card:hover .card__item {
    background-color: #1e2536;
    color: #f6f9ff;
  }

  .nav-works .card:hover .card__item img {
    filter: invert(1);
  }

  .nav-works .card a {
    flex-grow: 1;
    color: initial;
    text-decoration: none;
  }

  .nav-works .card .card__item {
    height: 100%;
    border-left: 5px solid #1e2536;
    border-bottom: 5px solid #1e2536;
    transition: all 0.3s;
  }

  .nav-works .card .card__item:nth-child(4) {
    border-bottom: 5px solid #1e2536;
  }

  .nav-works .card .card__item:hover {
    background-color: #4a90f9;
    transform: translateX(-10px);
    border: 5px solid #4a90f9;
    color: #1e2536;
  }

  .nav-works .card .card__item:hover img {
    filter: invert(0);
  }
}

/*----inside---*/

.nav-works--inside .card .border {
  min-height: 300px;
}

@media (min-width: 1024px) {
  .main-section--inside {
    width: 100%;
    margin-bottom: 120px;
  }

  .nav-works--inside {
    width: calc(100% - 100px);
    position: fixed;
    z-index: 50;
    bottom: 0;
  }

  .nav-works--inside .card {
    height: auto;
    flex-direction: row;
    align-items: flex-end;
  }

  .nav-works--inside .card .card__item {
    width: 33.3%;
  }

  .nav-works--inside .card .border {
    min-height: 100px;
    border-top: solid #1e2536 5px;
  }

  .nav-works--inside .card .card__item p,
  .nav-works--inside .card .card__item h4 {
    display: none;
  }

  .nav-works--inside .card .card__item h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .nav-works--inside .card .card__item:hover {
    background-color: #4a90f9;
    transform: translateY(-10px);
    border: 5px solid #4a90f9;
    color: #1e2536;
  }

  .nav-works--inside .card .card__item:hover img {
    filter: invert(0);
  }
}

.main-section--inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.main-section--inside h1 {
  text-align: center;
}

.workshop-card {
  margin-bottom: 40px;
  padding: 15px;
  width: 70%;
  min-width: 310px;
}

.workshop-card img {
  width: 55px;
  height: 55px;
}
/*Quitar*/
.workshop-card:nth-of-type(3) {
  margin-bottom: 200px;
}

.workshop-card h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.workshop-card form {
  font-size: 1.4rem;
}

.workshop-card form label,
.workshop-card form input {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
}

.workshop-card form,
.workshop-card .form-group {
  margin-bottom: 10px;
}

.workshop-card .form-group input {
  padding-left: 10px;
  margin: 5px 0;
  height: 35px;
  border: 2px solid #3c4e73;
  border-radius: 20px;
  outline: none;
}

.workshop-card form p {
  color: #ff3535;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.btn-form {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  background-color: #9faace;
  border: 2px solid #3c4e73;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 8px;
  transition: all 0.2s;
  overflow: hidden;
}

.btn-form:hover {
  box-shadow: 1px 1px 10px #1e2536;
  opacity: 90%;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-container {
  width: 300px;
  height: 60px;
  border-bottom: 2px solid #3c4e73;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-container p {
  padding: 20px;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
}

.form-group input:focus-within {
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.4);
  transition: 0.6s all ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Discounts */

.card-container {
  border: 8px solid #1e2536;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 40%;
}

.card-container img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.msg-coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2536;
  width: 100%;
}

.msg-coupon p {
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
  margin-left: 15px;
}

.coupon-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon-card .input-coupon {
  width: 170px;
}

.taller-card {
  margin-bottom: 100px;
  align-self: flex-start;
}

.taller-card h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.taller-card li {
  padding-left: 40px;
  font-size: medium;
}

/* Promedio, Moda y Mediana */
.prom-card {
  border: 1px solid #0f1014;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
  width: 50%;
  margin-top: 20px;
  min-width: 320px;
  height: 400px;
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.container-card-result {
  display: flex;
  justify-content: center;
}

.card-result {
  display: flex;
  justify-content: center;
  border: 2px solid #0f1014;
  margin-top: 10px;
  height: 100px;
  width: 70%;
  align-items: center;
}

.card-result p {
  font-size: 1.7rem;
}

/* Prima  y vacaciones */

.calculadora-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: #1e2536;
  margin-bottom: 50px;
  width: 40%;
  min-width: 320px;
  padding: 20px 40px;
}

.calculadora-container p {
  color: white;
}

.prima-calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prima-calculadora h2 {
  margin-bottom: 20px;
  margin-top: 24px;
  color: white;
  padding-right: 10px;
  text-align: center;
}

.prima-calculadora form p {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.prima-calculadora span {
  display: inline-block;
  padding: 5px 20px;
  font-family: open_sansbold;
  font-size: 2.4rem;
  color: #4a90f9;
}

.prima-calculadora form input {
  margin-bottom: 200px;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  margin: 5px 0;
  height: 35px;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0;
}

.prima-calculadora .input-value {
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: 20px;
}

.slider-box {
  display: flex;
  position: relative;
}

.slider input[type="range"] {
  margin: auto;
  outline: 0;
  padding: 0;
  height: 4px;
  width: 310px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, #2e9afe),
    color-stop(100%, #2e9afe)
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-values {
  display: flex;
  justify-content: space-between;
}

.range-values span {
  padding: 0;
  color: white;
}

.slider-box .slider-value {
  display: inline-block;
  width: 68px;
  text-align: center;
  background-color: #fff;
  padding: 5px 0;
  margin-left: 18px;
  border-radius: 5px;
}

.slider-box .slider-value span {
  font-size: 2.4rem;
}

.calc-btn {
  margin-top: 40px;
  text-align: center;
  width: 70%;
  font-family: open_sansbold;
  font-size: 16px;
  background-color: transparent;
  color: #4a90f9;
  border: 3px solid #4a90f9;
  border-radius: 5px;
  padding: 10px;
  margin: 25px auto;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.calc-btn:hover {
  background-color: #4a90f9;
  color: #1e2536;
  font-size: 1.6rem;
}

.calculadora-container .result {
  text-align: center;
}

.result p {
  font-size: 1.6rem;
  font-weight: bold;
}

.title {
  text-align: center;
}

.days-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

#vDays {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;

  height: 40px;
  background-color: white;
  width: 68px;
  text-align: center;
  background-color: #fff;
  padding: 5px 0;
  margin-left: 18px;
  border-radius: 5px;
}
